* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.contain {
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.active {
    color: black;
    font-weight: 600;
}